@import "tailwindcss" theme(static);
@import 'aos/dist/aos.css';
@import './_styles';
@plugin "@tailwindcss/typography";

@source "../views/";
@source "../../app/";

@layer base {
  html,body {
    @apply antialiased;
    @apply bg-background text-foreground;
  }
  a:where(:not(.wp-element-button)) {
    @apply !no-underline;
  }
  /** {
    @apply border-border;
  }*/
}

@theme inline {

  --font-sans:        var(--body-font);
  --font-key:         var(--key-font);
  --font-eyebrow:     var(--eyebrow-font);
  --font-headline:    var(--headline-font);
  --font-button:      var(--button-font);

  /* 
    Font Sizes 
  */

  --text-super: calc( var(--font-size-super-display) * 1px);
  --text-display: calc( var(--font-size-display-1) * 1px);
  --text-subhead: calc( var(--font-size-subhead) * 1px);
  --text-title-1: calc( var(--font-size-title-1) * 1px);
  --text-title-2: calc( var(--font-size-title-2) * 1px);
  --text-eyebrow: calc( var(--font-size-eyebrow) * 1px);
  --text-body-1: calc( var(--font-size-body-1) * 1px);
  --text-body-2: calc( var(--font-size-body-2) * 1px);

  /* 
    Line Height
  */

  --leading-super: calc( var(--line-height-super-display-lh) * 1px);
  --leading-display: calc( var(--line-height-display-1-lh) * 1px);
  --leading-subhead: calc( var(--line-height-subhead-lh) * 1px);
  --leading-title-1: calc( var(--line-height-title-1-lh) * 1px);
  --leading-title-2: calc( var(--line-height-title-2-lh) * 1px);
  --leading-eyebrow: calc( var(--line-height-eyebrow-lh) * 1px);
  --leading-body-1: calc( var(--line-height-body-1-lh) * 1px);
  --leading-body-2: calc( var(--line-height-body-2-lh) * 1px);

  /*
    Sizing
  */

  --spacing-xl: calc(var(--spacing-x-large) * 1px);
  --spacing-lg: calc(var(--spacing-large) * 1px);
  --spacing-md: calc(var(--spacing-med) * 1px);
  --spacing-sm: calc(var(--spacing-small) * 1px);
  --spacing-em: calc(var(--spacing-em) * 1px);
  --spacing-min: calc(var(--spacing-min) * 1px);
  --spacing-zero: calc(var(--spacing-zero) * 1px);
  --spacing-gutters: calc(var(--spacing-gutters)*1px);
  --spacing-card-padding: calc(var(--card-padding)*1px);
  --spacing-link-grid-vert-padding: calc(var(--link-grid-vert-padding)*1px);

  --radius-card-radius: calc(var(--card-radius)*1px);

  /*calc(var(--margins-x-large)*1px);
  calc(var(--margins-large)*1px);
  calc(var(--margins-small)*1px);  */


  /*calc(var(--card-radius)*1px);
  calc(var(--card-padding)*1px);
  
  calc(var(--sizing-grid-cols)*1px);*/

  --spacing-browser: calc(var(--sizing-browser-width)*1px);

  /*calc(var(--sizing-3-col-span)*1px);
  calc(var(--sizing-4-col-span)*1px);
  calc(var(--sizing-6-col-span)*1px);
  calc(var(--sizing-8-col-span)*1px);
  calc(var(--sizing-9-col-span)*1px);
  
  */


  /* 
    Base Colors 
  */

  --color-foreground: var(--txt-color);
  --color-background: var(--bg-color);

  /*
    Buttons Spacing & Radius
  */
  
  --radius-button: calc(var(--button-radius)*1px);
  --spacing-button-padding-vert-l: calc(var(--button-padding-vert-l)*1px);
  --spacing-button-padding-horiz-l: calc(var(--button-padding-horiz-l)*1px);
  --spacing-button-padding-vert-s: calc(var(--button-padding-vert-s)*1px);
  --spacing-button-padding-horiz-s: calc(var(--button-padding-horiz-s)*1px);
  
  /* 
    Button Background Colors 
  */

  --color-button: var(--button-color-btn-bg);
  --color-button-active: var(--button-color-btn-bg-active);
  --color-button-hover: var(--button-color-btn-bg-hover);
  --color-button-disabled: var(--button-color-btn-bg-disabled);
  
  /* 
    Button Foreground Colors 
  */

  --color-button-foreground: var(--button-color-btn-txt);
  --color-button-foreground-active: var(--button-color-btn-txt-active);
  --color-button-foreground-hover: var(--button-color-btn-txt-hover);
  --color-button-foreground-disabled: var(--button-color-btn-txt-disabled);
  
  --color-button-outline-active: var(--button-color-btn-outline-bg-active);
  --color-button-outline-focus: var(--button-color-btn-border-focus);
  
  --color-button-border: var(--button-color-btn-border);
  --color-button-border-hover: var(--button-color-btn-border-hover);
  --color-button-border-active: var(--button-color-btn-border-active);
  --color-button-border-disabled: var(--button-color-btn-border-disabled);
  
  --color-gridlines: var(--gridlines-tint);
  --color-texture: var(--texture-color);
  --color-error: var(--error-color);
  
  --color-news-card: var(--news-card-bg-enabled);
  --color-news-card-hover: var(--news-card-bg-hover);
  --color-news-card-active: var(--news-card-bg-active);
  --color-news-card-icon-hover: var(--news-card-icon-bg-hover);
  --color-news-card-icon-line-hover: var(--news-card-icon-line-hover);
  --color-news-card-border-focus: var(--news-card-focus-border);
  --color-news-card-feat-hover: var(--news-card-feat-bg-hover);
  --color-news-card-feat-active: var(--news-card-feat-bg-active);
  --color-news-card-feat-foreground-hover: var(--news-card-feat-txt-hover);
  --color-news-card-feat-border-focus: var(--news-card-feat-focus-border);
  
  --color-link-grid-hover: var(--link-grid-bg-hover);
  --color-link-grid-active: var(--link-grid-bg-active);
  --color-link-grid-border-focus: var(--link-grid-focus-border);
  
  --color-card-hover: var(--color-card-bg-hover);
  --color-card-active: var(--color-card-bg-active);
  --color-card-border-focus: var(--color-card-focus-border);

  --color-eyebrow: var(--eyebrow-bg);
  --color-eyebrow-foreground: var(--eyebrow-txt);
  
}