@import "tailwindcss" theme(static);
@import 'aos/dist/aos.css';
@plugin "@tailwindcss/typography";

@source "../views/";
@source "../../app/";


/*[data-theme="light"] {
  --background:     var(--brand-background);
  --foreground:     var(--brand-foreground);
  --eyebrow-bg:     var(--brand-accent-background);
  --eyebrow-text:   var(--brand-accent-foreground);
}

/* --brand-background:         
 --brand-subtle-background:  
 --brand-foreground:         
 --brand-accent-background:  
 --brand-accent-foreground:  
*/

/*[data-theme="dark"] {
  --background:     var(--brand-foreground);
  --foreground:     var(--brand-background);
  --eyebrow-bg:     var(--brand-accent-background);
  --eyebrow-text:   var(--brand-accent-foreground);
}*/

/*[data-theme="subtle"] {
  --background:     var(--brand-subtle-background);
  --foreground:     var(--brand-foreground);
  --eyebrow-bg:     var(--brand-accent-foreground);
  --eyebrow-text:   var(--brand-foreground);
}*/

@theme {

  --font-sans:       var(--body-font);
  --font-key:        var(--key-font);
  --font-eyebrow:    var(--eyebrow-font);
  --font-headline:   var(--headline-font);
  --font-button:     var(--button-font);

  --spacing:         0.25rem;
  --spacing-mega:    120rem;
  --spacing-header:  136px;

  --spacing-xs:      calc( var( --spacing ) * 8 );
  --spacing-sm:      calc( var( --spacing ) * 10 );
  --spacing-md:      calc( var( --spacing ) * 16 );
  --spacing-lg:      calc( var( --spacing ) * 20 );
  --spacing-xl:      calc( var( --spacing ) * 32 );
  --spacing-2xl:     calc( var( --spacing ) * 40 );
  --spacing-3xl:     calc( var( --spacing ) * 50 );

}

@theme inline {
  --color-background:     var(--background);
  --color-foreground:     var(--foreground);
  --color-eyebrow-bg:     var(--eyebrow-bg);
  --color-eyebrow-text:   var(--eyebrow-text);
  --color-btn-background: var(--btn-bg);
  --color-btn-foreground: var(--btn-text);
  --color-border:         var(--border);
}